@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
  
    <p><a href="/Registration/Registration" class="btn-primary employee-portal-link"> Employee Portal</a>.</p>
</div> *@
