@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div  class="container mt-5 d-flex justify-content-center align-text-center bg-light"> 
    
        <div class="card-body">
            <div class="row">
                <div class="col-3"> 
                    <h3 class="card-title">Employee Registration</h3>
                    <p class="card-text">The Registration page is to onboard new employees to the Altria Project.</p>
                </div>
                <div class="col-3"> 
                    <h3 class="card-title">View Employees</h3>
                    <p class="card-text">The View Employees page can be used for searching, modifying, and viewing Employee and Project details.</p>
                </div>
                <div class="col-3"> 
                    <h3 class="card-title">Dashboard</h3>
                    <p class="card-text">Dashboard will redirect us to PowerBI report Dashboard</p>
                </div>
            </div>
        </div>
</div>
